{% extends 'base.html.twig' %}

{% block title %}Create Article !{% endblock %}

{% block body %}
<hr/>

    <div class="form-control">
        <h5>Title: {{  article.title }}</h5>

<br/>
    <div class="form-control">

        <h5>Description: {{ article.description|length > 1000 ? article.description|slice(0, 1000) ~ '...' : article.description  }}</h5>
<br/>
    <div class="form-control">
        <h5>Link Image: <img src="{{  article.linkImage }}"></h5>
    </div>

        {% if article.client is not null %}
    <div class="form-control" >
        <h5>Author Name: <a href="">{{  article.client.email }}</a></h5>
    </div>
        {% endif %}
{% endblock %}